@import "tailwindcss";

@theme {
  --color-navy-900: #0a192f;
  --color-navy-800: #112240;
  --color-navy-700: #233554;

  --color-slate-light: #a8b2d1;
  --color-slate-lightest: #ccd6f6;

  --color-teal: #64ffda;
  
  --color-orange-soft: #ffaf7b;

  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

@layer base {
  body {
    @apply bg-navy-900 text-slate-light font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-slate-lightest font-bold;
  }
}
